NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_WORDPRESS_URL=https://innerkracht.be
WORDPRESS_API_URL=https://innerkracht.be/wp-json/wp/v2
WORDPRESS_APPLICATION_USERNAME=
WORDPRESS_APPLICATION_PASSWORD=
CONTACT_RECIPIENT_EMAIL=
